// src/assets/styles/_globals.scss

// Normaliza los estilos básicos
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.5;
  background-color: #f5f5f5;
}
